documentacao/code/node-red/nodered.txt
[{"id":"4fb7ea5c.eff8f4","type":"telegram sender","z":"c0be88ef.e9a128","name":"","bot":"b390354a.8d63c8","x":715,"y":496,"wires":[[]]},{"id":"6975ac65.dfe804","type":"function","z":"c0be88ef.e9a128","name":"","func":"if(msg.payload == \"1\"){\n    msg = {\"topic\": msg.topic, \"payload\": {\"chatId\" : 585715020, \"type\" : 'message', \"content\" :  \"Objeto detectado a frente!\"} };\n\n    return msg;\n}\n    return null;","outputs":1,"noerr":0,"x":413.000057220459,"y":438.99999618530273,"wires":[["4fb7ea5c.eff8f4"]]},{"id":"a0a9883e.f273a8","type":"debug","z":"c0be88ef.e9a128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":408,"y":279,"wires":[]},{"id":"40c1d7f.21faf28","type":"arduino in","z":"c0be88ef.e9a128","name":"","pin":"12","state":"INPUT","arduino":"28a52d57.344282","x":136,"y":349.9999942779541,"wires":[["a0a9883e.f273a8","6975ac65.dfe804"]]},{"id":"b390354a.8d63c8","type":"telegram bot","z":"","botname":"smartcane_bot","usernames":"t.me/smartcane_bot","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"28a52d57.344282","type":"arduino-board","z":"","device":"COM4"}]